<form>
  
</form>
<div class="students-record">
  <table class="table table-striped record-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Country</th>
        <th>Physics</th>
        <th>Chemistry</th>
        <th>Math</th>
        <th>Computer</th>
      </tr>
    </thead>
    <tbody>
      @for (student of students; track student.name; let i =$index) {
        <tr>
          <th>{{i+1}}</th>
          <td>{{student.name}}</td>
          <td>
            <div>
              <img
                [src]="student.studentImage"
                class = "me-2"
                style="width: 20px"
              />
              <td>{{student.country}}</td>
            </div>
          </td>
          <td>{{student.physics}}</td>
          <td>{{student.chemistry}}</td>
          <td>{{student.maths}}</td>
          <td>{{student.computer}}</td>
        </tr>
      } @empty {
        <tr>
          <p>
            No Record Available
          </p>
        </tr>
      }
      
    </tbody>
  </table>
</div>
